.assets
.env
*.pyc
dist/
build/
docs/*
!docs/TERMINAL_PROTOCOL.md
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
__pycache__/
poetry.lock
.pytest_cache/
nanobot/skills/artisan/SKILL.md
